rl_core/

venv/
.idea/

config/stopSwitch
memoryBacklog

/archive
/runs/
evaluation/*.png
tests

__pycache__
core/__pycache__

*.log
*.err
*.sh

# Latex temp files
*.aux
*.bbl
*.bcf
*.blg
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
