venv/
.idea/

config/stopSwitch
memoryBacklog
backup_*

out*/
/archive
/runs/
evaluation/*.png
tests

__pycache__
core/__pycache__

*.log
*.err
*.sh
/logutils/
/doc/paper/rl_al_paper.aux
/doc/paper/rl_al_paper.bbl
/doc/paper/rl_al_paper.blg
/doc/paper/rl_al_paper.out
/doc/paper/rl_al_paper.synctex.gz
